/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  color: #333;
}

/* Sección principal */
.principal {
  background-color: #f3f1ee;
  padding: 2rem;
  
}

.contenido-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido-header h1 {
  font-size: 2.5rem;
  
  
}

.contenido-header p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.contenido-header img {
  height: 150px;
}

/* Productos */
.productos {
  max-width: 800px;
  margin: 3rem auto;
  padding: 0 1rem;
}

.producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.producto img {
  width: 60%;
  border-radius: 4px;
}

.producto .info {
  width: 35%;
  text-align: left;
  font-size: 1.1rem;
}

/* Pie de página */
footer {
  background-color: #a0522d;
  color: white;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}
