* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #152039;
    font-family: 'Rubik', sans-serif;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #152039;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3); /* opcional para dar sombra */
}

.bg-color {
    background-color:#152039;

}

.titulonav {
    color: aliceblue;
    font-size: 35px;
    padding: 0.5rem 0;
    margin: 0 1.5rem;
}


.navbar-nav .nav-link {
    position: relative;
    color: #94a3b8;
    font-weight: 500;
    padding: 0.5rem 0;
    margin: 0 1.5rem;
    transition: color 0.3s ease;

}



/* esto es la barra que esta debajo de los nav-link*/
.navbar-nav .nav-link::after {

    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 3px ;
    background-image: linear-gradient(to right, #0ea5e9, #8b5cf6, #f472b6, #facc15);
    transition: width 0.3s ease;
    border-radius: 50px;
}

/* esto es para el largo de la barra de los nav-link*/
.navbar-nav .nav-link:hover::after {
    width: 100%;
}

/* esto es que cuando coloco el mouse por eso el hover, las letras cambien de color*/
.navbar-nav .nav-link:hover {
    color: #f1f5f9
}

/* esto es para que el navbar se alinie bien con la pagina*/
#habilidades,
#sobremi,
#experiencia,
#educacion,
#proyectos,
#contacto {
    scroll-margin-top: 100px;
}

/* ----------esto es sobre mi*/
.hero {
    display: flex;
    justify-content: center;
    color: #f1f5f9;
    padding: 5%;
    height: max-content;
    align-items: center;
    padding-top: 10rem;
    width: 100%;
}

.btn {
    color: white;
    background: linear-gradient(90deg,  #0ea5e9, #8b5cf6, #f472b6, #facc15); /* Degradado de púrpura a cian */
    border: none;
    border-radius: 999px; /* Bordes totalmente redondeados */
    text-decoration: none;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
    padding: 16px 32px;     /* Más espacio interno (alto y ancho) */

}

.btn:hover {

    box-shadow: 0 0 20px rgba(228, 57, 137, 0.4);
}
.link-portafolio {
    color: #f1f5f9;
    text-decoration: none;
    font-size: 18px;         /* Letra más grande */

}
.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.hero-content h1 {

    font-size: 3rem;
    color: #f1f5f9;

}

.hero-content h3 {

    font-size: 1.5rem;
    color: #94a3b8;

}

.resaltado {

    background: linear-gradient(to right, #0ea5e9, #8b5cf6, #f472b6, #facc15);
    background-clip: text; /* ✔️ estándar */
    -webkit-background-clip: text; /* ✔️ necesario para Chrome/Safari */
    -webkit-text-fill-color: transparent;
}

.hero-img {
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(to right, #0ea5e9, #f472b6, #facc15);
    width: 290px;  /* 280px + 5px de padding por lado */
    height: 290px;
    display: flex;
    text-align: right;

}

.foto {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    border: -1px solid transparent;

}

/* -----------------------------skill section--------------------------------*/
.skills-section {
    text-align: center;
    color: #f1f5f9;
    margin-top: 8rem;
}
.skills-section h2 {
    font-size: 2.5rem;
}
.skills-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.card {
    background-color: #152039;
    border-radius: 15px;
    padding: 1.5rem;
    width: 800px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    color: #f1f5f9;
}

.card h3 {
    margin-bottom: 2.5rem;
    margin-top: 0.5rem;
}

.icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3rem;
}

.icons img {
    width: 100px;
    height: 100px;
    margin-bottom: 0.5rem;
}

/* -----------------------------sobre mi section--------------------------------*/

.experience-section {
    text-align: center;
    color: #f1f5f9;
    margin-top: 8rem;
}

.experience-section h2 {
    font-size: 2.5rem;
}

.experience-container {

    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.experience-card {

    background-color: #152039;
    border-radius: 15px;
    padding: 1.5rem;
    width: 1300px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    color: #f1f5f9;
}

.experience-card h3 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    text-align: left;
    font-size: 2.3rem;

}

.experience-card h4 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    text-align: left;
    color: #969ca1;
    font-size: 1.5rem;

}

.experience-card ul {
  list-style-position: inside; /* Mueve el punto hacia el texto */
  align-items: center; /*  Alinea verticalmente el punto y el texto */
}

.experience-card ul li {
    display: flex;
    align-items: center; /*  Alinea verticalmente el punto y el texto */
    gap: 0.5rem; /* Espacio entre punto y texto */
    font-size: 1.3rem;
}

.experience-card ul li::before {
    content: "";
    width: 15px;
    height: 15px;
    background: linear-gradient(to right, #0ea5e9, #f472b6, #facc15);
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
}


/* ------------parte de timeline--------------*/

.timeline-section {
    background-color: #152039;
    color: #f1f5f9;
    padding: 4rem 2rem;
    text-align: center;
    margin-top: 4rem;
}

.timeline {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* Línea blanca detrás con ancho personalizado */
.timeline::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 1%;     /* Comienza 10px desde la izquierda */
    right: 22%;    /* Termina 50px antes del borde derecho */
    height: 4px;
    background-color: white;
}

.timeline-section h2 {

    padding-top: 2rem;
    padding-bottom: 5rem;
}

.timeline-item {
    width: 22%;
    position: relative;
    text-align: left;
}

.timeline-item h3 {
    padding-bottom: 0.5rem;
    color: white;
}

.timeline-item p {
    font-size: 0.95rem;
    color: #cbd5e1;
}

.dot {
    width: 20px;
    height: 20px;
    background: linear-gradient(to right, #0ea5e9, #8b5cf6, #f472b6, #facc15);
    border-radius: 50%;
    position: absolute;
    top: -43px;
    left: 0;
    transform: translateX(-50%);
}

/* ------------parte de proyectos--------------*/

.proyectos {
    max-width: 1300px;
    width: 85vw;
    margin: auto;
    display: flex;
    flex-direction: column;

}

.proyectos h2 {

    font-size: 2.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.carousel-inner {
    width: 70%;
    justify-content: center;
    
}

.proyectos-card {

    background-color: #152039;
    border-radius: 15px;
    padding: 1.5rem;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    color: #f1f5f9;
}

/*---------parte de contacto-------- */
.iconos-contacto {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    gap: 2rem; /* Menor espacio entre íconos */
    flex-wrap: wrap;
    padding: 2rem 0;
}

.contactos h2 {
    padding-top: 5rem;
}

.contacto-item img {
    width: 50%;      /* Tamaño más pequeño */
    object-fit: contain;
    border-radius: 50%; /* Redondeado si no lo está */
    transition: transform 0.3s ease;
}

.contacto-item img:hover {
    transform: scale(1.1); /* Efecto hover*/
}

.contacto-item p {
padding-top: 1rem;
}

.footer {
    text-align: center;
    color: #f1f5f9;
    background-color: #0e1629;
    padding: 1rem;
    font-weight: bold;
}